    GLOBAL_SETTINGS
    REGISTRY dangchuc
    LAB_MASTER_SEED steg-audio-parity-decode_student_master_seed
NETWORK NET_LAB
     MASK 172.30.0.0/24
     GATEWAY 172.30.0.1
CONTAINER sender
     USER ubuntu
     X11 YES
     NET_LAB 172.30.0.5
CONTAINER receiver
     USER ubuntu
     X11 YES
     NET_LAB 172.30.0.7
